[submodule "archie"]
	path = github/themes
	url = git://github.com/athul/archie
[submodule "github/github/themes/archie"]
	path = github/github/themes/archie
	url = https://github.com/athul/archie.git
