<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
    {{ partial "favicon.html" . }}
    {{ partial "analytics.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

            <div class="site-description">
                {{- if isset .Site.Params "subtitle" -}}
                <p>{{ .Site.Params.Subtitle | markdownify }}</p>
                {{- end -}}
            </div>

            {{.Content}}
			
            <h1>Posts 📡</h1>

            <ul class="posts">
                {{- range .Site.RegularPages -}}
                    {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
                    <li class="post">
                        <a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
                    </li>
                    {{- end -}}
                {{- end -}}
            </ul>

			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
